*{
    margin: 0;
    padding: 0;
    background-color: #150734;
}


.titulo{
    color: black;
    text-align: center;
    background-color: aliceblue;
}

.textoPrueba{
    color: bisque;
    margin-top: 5%;
}